<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <div class="loginbox">
      <form action="/login" method="post">
        <div class="log">
          <!-- Flash Message Placeholder -->
          <!-- This is where the flash message will be inserted -->
          

          <input type="text" name="username" placeholder="Email" class="box" required /><br /><br />
          <input type="password" name="password" placeholder="Password" class="box" required /><br /><br />
          <button type="submit" class="custom-width">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
